		/* px para posicionamento fixo*/
		/* % para possicionar no tamanhdo da tela*/
		/* O rem é útil para criar layouts mais flexíveis e escaláveis*/
		/* font-size -- serve para definir o tamanho da letra do site */
		/* para referenciar o id se ussa o #*/
		/* para referenciar a classe se ussa o . (ponto) */

		*{
			margin: 0;
			border: 0;
			padding:0;
		}
		html{
			font-family: arial;
			font-size: 62.5%; 
		}
		header{
			background: linear-gradient(to top, #fff, #FF4500);
			color: #fff;
			font-size: 1.8rem;  /* rem é o Em relação ao tamanho da fonte do elemento raiz */
			padding: 1rem;
			padding-top: 2rem;
			position: fixed; /* para o topo da pagin ficar fixo*/
			width: 100%;
		}
		footer{
			background: linear-gradient(to bottom, #fff, #FF4500);
			color: #000;
			text-align: center;
			font-size: 1.8rem;
			padding: 1rem;
		}

		.conteudo{
			font-size: 1.6rem;
			background-color: #fff;
			padding: 1.5rem;
			text-align: justify; /* para o texto ficar no centro da pagina*/
			margin: 0 auto;
			max-width: 90%; /*para escolher a "grossura" do texto*/

		}
		.conteudo-topo{
			font-size: 1.6rem;
			background-color: #fff;
			padding: 1.5rem;
			text-align: justify; /* para o texto ficar no centro da pagina*/
			margin: 0 auto;
			max-width: 85%; /*para escolher a "grossura" do texto*/
			padding-top: 7rem;
			max-width: 90%;
			padding-top: 30rem;
		}


		
		h1{
			font-size: 2rem;
			text-align: center;
			text-shadow: 1px 1px 1px #000;
			color: rgb(255, 0, 0);
		}

		h2{
			font-size: 1.9rem;
		}

		h3{
			font-size: 1.7rem;
		}

		h4{
			font-size: 1.6rem;
		}

		h5{
			font-size: 3rem;
			color: rgb(255, 0,0);
			text-shadow: 1px 1px 1px #000;
			text-align: center;
		}

		figure{
			text-align: center;
		}
		.imagem-site{
			border-radius: 10px 10px 10px 10px;
			width: 60%;
			height: 30%;
			border:solid;
		}
		@media(min-width: 100px) and (max-width:850px ){

		.imagem-site{
			border-radius: 10px 10px 10px 10px;
			width: 80%;
			height:70%;
		}

		}

		#compras{
			background-color: rgba(255, 215, 0, 0.5); /* cor de fundo do site*/
			width: 300px; /* width - largura */
			height: 150px; /* height - altura*/
			right: 0; /* right - para a direita do site, left - para a esquerda */
			position: fixed; /* position para posicionar o conteudo */
			text-align: center; /* text-align serve para alinhar o conteudo */
			margin-top: 0rem; /* margin - onde o conteudo vai ficar no site */
			font-size: 20px; /* font-size -- tamanho da letra*/
			z-index: 1;
			border-radius: 20px; /* para mecher na borda da imagem*/
			padding-top: 10px;
			border: solid rgb(0,255,0);
		}

		@media(min-width: 280px) and (max-width: 820px){

			#compras{
			background-color: rgba(255, 215, 0, 0.5);
			width: 160px; 
			height: 100px; 
			right: 0; 
			position: fixed; 
			text-align: center; 
			margin-top: 20rem; 
			z-index: 1;
			border-radius: 20px; 
			padding-top: 5px;
			border: solid rgb(0,255,0);
		}

		}

		#compras-texto{
			text-align: center;
			margin-top: 1rem;
		}

		#btn-compras{
			background-color: rgb(46,139,87);
			color: #fff;
			font-weight: bold;
			padding: 5px;
			border-right: 5px;
			border:solid #fff;
		}

		#grid-conteudo{
			border-radius: 20px;
			background-color: #fff;
		}

		.grid{
			display: grid; /* o diplay serve para mostrar o espaço que vamos trabalhar*/
			grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)) ;
			/* repeat(auto-fill, minmax( px, fr)) para reconher o tamanho da tela automaica para a div */
			/* fr é o fragmento dentro do espaço */
			/* grid-tamplate-columns ser para selecionar o modelo que vamos trabalhar no caso aqui sera por colunas 6x6 */ 
			grid-gap: 2px; /* grid-gap - para definir a separação dos itens */
			margin: 0 auto;
		}

		.grid div{
			background-color: #fff;
			text-align: center;
			padding: 1rem;
		}

		#formulario{
			background-color: #dcdcdc;
		}

		input{
			border:solid;
			padding: 5px;
			border-radius: 10px;
			font-size: 1.5rem;
		}

		#mensagem{
			border:solid;
			padding: 5px;
			border-radius: 10px;
			font-size: 1.5rem;
		}

		#btn-limpar{
			background-color: #ff0000;
			color: #fff;
			text-align: center;
			padding: 5px;
			border: solid;
			border-color: #000000; /* para colocar uma cor na borda */
			font-weight: bold;
		}

		#btn-enviar{
			background-color: #98FB98;
			color: #000000;
			text-align: center;
			padding: 5px;
			border: solid;
			border-color: #000000; /* para colocar uma cor na borda */
			font-weight: bold;
		}

		.conteudo{
			border-radius: 20px;
		}

		nav{
			text-align: center;
			font-size: 1.6rem;
			word-spacing: 30px; /* para da espaço entre um obejto e outro no css */
			margin-right: 5%;
			padding-bottom: 5px;
		}
		
		
		a{
			text-decoration: none;
			color: #ffff00;
			font-weight: bold;
			text-shadow: 2px 2px 2px #000; /* para dar um sombr no texto ou imagem*/
			background-color: rgb(255,0,0);
			padding: 5px;
			border-radius: 10px ;
		}

		a:hover{ /* para fazer alteraçães nos links muda a cor */
			color: #fff;
			text-shadow: 2px 2px 2px #000;
			background-color: rgb(255,0,0);
			padding: 5px;
			border-radius: 10px ;
			border:solid #ffff00;
			
		}
		
		.wpp-logo{
			width: 1%;
			height:1%;
		}